.Amazon{
  color: rgb(0, 113, 133);
}
.Amazon:hover{
  color: rgb(202, 9, 9);
}
.Text{
  color: rgb(0, 118, 0);
  font-weight: bold;
  font-size: medium;
}
.Cart-Button{
  background-color: rgb(255, 216, 20);
  color: black;
  width: 135px;
  height: 30px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
}
.Cart-Button:hover{
  background-color: rgb(214, 181, 16);
}

.Buy_now-Button{
  background-color: rgb(255, 164, 28);
  color: Black;
  width: 135px;
  height: 30px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
}
.Buy_now-Button:hover{
  background-color: rgb(216, 133, 8);
}
