.user_image{
  width: 50px;
  border-radius: 7px;
  vertical-align: middle;
  margin-right: 10px;
}
.image-text{
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  color: rgb(141, 138, 138);
}
.tweet-button{
  margin-left: 120px;
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  font-family: Arial;
  font-weight: bold;
}
