.Name-search-bar{
  display: block;
  margin-bottom: 5px;
}
.Email-search-bar{
  display: block;
  margin-bottom: 10px;
}
.Exercise-8b{
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  vertical-align: middle;
  margin-right: 10px;
}
.Yes-Button{
  font-weight: bold;
}
.Search-Bar{
  display: block;
  margin-top: 0px;
  width: 400px;
  border-radius: 20px;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-bottom: 10px;
  margin-left: 450px;
  margin-bottom: 30px;        
}
.Google-logo{
  width: 150px;
  display: block;
  margin-top: 150px;
  padding-left: 550px;
  margin-bottom: 0px; 
  padding-bottom: 0px;
}
.First-Name-label{
  width: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(96, 96, 96);
}
.Email-label{
  display: block;
  margin-top: 10px;
  width: 210px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border-color: rgb(96, 96, 96);
  border-width: 1px;
}

.Sign-Up-Button{
  margin-top: 10px;
  width: 215px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: rgb(29, 120, 240);
  color: white;
  border: none;
  font-weight: bold;
  font-family: Arial;
}
.text{
  font-size: 40px;
  font-family: Arial;
}
.Exercise_8-e{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}
.Location_inputBar,
.Destination_inputBar{
  background-color: rgb(214, 208, 208);
  display: block;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 150px;
  border: none;
}
.Request-Now_Button{
  margin-top: 25px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: black;
  color: white; 
  border: none;
}  
.Schedule_Button{
  margin-left: 10px;
  padding-left: 20px;  
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial;
  font-weight: bold;
  border: none;

}